
table.adminlist th {
	white-space: nowrap;
}

#ajaxupdating {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #DE7A7B;
}

select#department_id,
select#town_id,
select#area_id {
	max-width: 160px;
}


span.input-suffix {
	float: left;
	margin: 5px 5px 5px 0;
}


fieldset.adminform label.amenity {
	display:inline-block;
	width:200px;
	margin-right:15px;
	padding: 0;
	clear: none;
	float:left;
	font-size: 12px;
	line-height: 13px;
}

fieldset.adminform label.amenity input {
	float:none;
	margin: 0 10px 0 0;
}

ul.gallery {
	margin-top: 10px;
}

ul.gallery li {
	padding: 10px 0 10px 10px;
	border-top: 1px solid #ccc;
}

ul.gallery li:FIRST-CHILD {
	background: #FFFFCC
}

ul.gallery a.imgLink {
	float: left;
	margin: 0 10px 5px 0;
}

ul.gallery a.imgLink img {
	float: none;
	margin: 0;
}

ul.gallery .imgTools a {
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
}

ul.gallery .imgTools a.delete-img {
	margin-left: 20px;
}



.numberbox{
	text-align:right;
	padding-right:2px;
}


.icon-48-jea {
	background-image:url(../images/header/icon-48-jea.png);
}

.icon-32-download {
	background: url(../images/export.png);
}

.icon-32-database {
	background: url(../images/import.png);
}

div.file_reader{
	width :700px;
	height :300px;
	overflow: auto;
	border: 1px solid #ccc;
	margin: auto;
	padding: 10px;
	font-size: 12px;
	background: #fff;
}

/* property form - amenities */
ul#amenities {
	margin: 0 -17px;
	padding: 5px 5px 0 5px;
	overflow : hidden; /* clearfix */
}
ul#amenities li {
	margin: 0 0 5px 5px;
	border-radius: 5px;
	padding: 2px 5px;
	color: #ffffff;
	background-color: #990000;
	display: inline-block;
}
ul#amenities li label, 
ul#amenities li input {
	float: none; 
}
ul#amenities li.active {
	background-color: #009900;
}
ul#amenities li.active label{
	background: url(../images/checked.png) no-repeat scroll 100% 50% transparent;
}
ul#amenities li label{
	background: url(../images/unchecked.png) no-repeat scroll 100% 50% transparent;
	min-width: 75px;
	padding: 0 20px 0 0;
}

/*** Specific to Joomla 3.x */


body.com_jea h1.page-title {
	background:url(../images/header/icon-36-jea.png) left center no-repeat;
	padding-left: 45px;
}

.admin .clr {
	clear: both;
	height: 0;
	overflow: hidden;
}

.admin dl.tabs {
	float: left;
	margin: 10px 0 -1px;
	z-index: 50;
}

.admin dl.tabs dt {
	background: none repeat scroll 0 0 #E9E9E9;
	border: 1px solid #CCCCCC;
	color: #666666;
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
}

.admin dl.tabs dt.open {
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #F9F9F9;
	color: #000000;
	z-index: 100;
}

.admin div.current {
	border: 1px solid #CCCCCC;
	clear: both;
	padding: 10px;
}

.admin dl.tabs dt h3 {
	font-size: 14px ;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.admin dl.tabs dt h3 a:link {
	color: #333333;
	outline: medium none;
	text-decoration: none;
}

.admin input.text-area-order {
	width: auto;
}

.admin fieldset ul {
	margin: 0;
	padding: 0;
}

.admin ul.adminformlist, .admin ul.adminformlist li,
.admin ul.gallery, .admin ul.gallery li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.admin ul.adminformlist label {
	min-width: 135px;
	padding: 0 5px 0 0;
	clear: left;
	display: block;
	float: left;
	margin: 5px 0;
}

.admin ul.adminformlist input, 
.admin ul.adminformlist textarea, 
.admin ul.adminformlist select, 
.admin ul.adminformlist img, 
.admin ul.adminformlist button {
	float: left;
	margin: 5px 5px 5px 0;
	width: auto;
}

.admin ul.adminformlist input, .admin ul.adminformlist select {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid silver;
	font-size: 0.909em;
}

.admin .input-append, .admin .input-prepend {
	font-size: inherit;
	white-space: nowrap;
	display: block !important;
	margin-bottom: 5px;
	vertical-align: middle;
}

.admin .pane-sliders .panel {
	border: 1px solid #CCCCCC;
	margin-bottom: 3px;
}

.pane-sliders .panel h3 {
	background: none repeat scroll 0 0 #FAFAFA;
}

.pane-sliders .title {
	cursor: pointer;
	margin: 0;
	padding: 2px 2px 2px 5px;
}

.pane-toggler-down {
	border-bottom: 1px solid #CCCCCC;
}

fieldset.panelform {
	clear: both;
	overflow: hidden;
	padding: 5px 17px 17px;
}

.admin .adminformlist li {
	overflow: hidden;
}

/* Tools view */

i.icon-48-import {
	display: inline-block;
	background: url("../images/header/icon-48-import.png") left center no-repeat;
	height: 48px;
	width: 48px;
	vertical-align: middle;
}

.cpanel .span12 {
	display: table-cell !important;
	margin-bottom: 10px;
}

.cpanel .span12 a {
	vertical-align: middle;
}

/* Console */

.console {
	background: #000;
	color: #fff;
	font-size: 11px;
	font-family: monospace;
	padding: 5px;
	min-height: 250px;
	margin: 10px 0;
}

.console p {
	margin: 0 0 5px 0;
	border: none !important;
	background: none !important;
	color: #fff !important;
	font-size: 12px !important;
	font-family: monospace !important;
	padding: 0 !important;
}

.console p.error {
	color: red !important;
}

.console p.warning {
	color: orange !important;
}

.console a {
	color: #a2cff6;
}

/* logs */

pre#logs {
	font-size: 11px;
	font-family: "Courier New", Courier, monospace;
	background: #fff;
	padding: 1em;
	border: 1px solid #ccc;
	margin: 1em;
	min-height: 200px;
	max-height: 300px;
	overflow: auto;
}

/* Spinner */
@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

.jea-icon-spin {
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	display: inline-block;
}

.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0;
	
	-webkit-transition: opacity 0.25s, max-width 0.45s; 
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s;
}

.has-spinner.active {
	cursor:progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	max-width: 50px;
}


