.clr {
	clear: both;
}

.jea_tools {
	float: right;
}

.jea_tools img {
	border: none;
}

/*** Properties Search layout ***/
#jea-search-form h2,#jea-search-form hr {
	clear: both;
}

#jea-search-form hr {
	margin: 1em 0;
}

#jea-search-form select {
	width: 12em;
}

#jea-search-form dl {
	padding: 0.5em 0;
}

#jea-search-form dl.col-left,#jea-search-form dl.col-right {
	float: left;
}

#jea-search-form dl.col-left {
	margin-right: 3em;
}

#jea-search-form dt,#jea-search-form dd {
	margin: 0;
	padding: 0;
	display: table-cell;
}

#jea-search-form dt {
	min-width: 5em;
}

#jea-search-form ul {
	overflow: hidden;
	margin: 1em 0 !important;
	padding: 0 !important;
}

#jea-search-form ul.jea-search-other li {
	list-style: none;
	margin: 0.5em 0 !important;
	padding: 0 !important;
}

#jea-search-form ul.jea-search-other label {
	display: inline-block;
	min-width: 13em;
}

#jea-search-form .amenities li {
	width: 17em;
	margin: 0 1.5em 0.5em 0 !important;
	padding: 0 !important;
	float: left;
	list-style: none;
}

/* Properties Default layout */
.limitbox {
	text-align: right;
}

dl.jea_item {
	border-top: 1px dashed #ccc;
	padding: 1em 0;
	margin: 0;
	overflow: hidden;
	/* formatting context, prevent overshooting of floating */
}

dl.jea_item:FIRST-CHILD {
	border-top: none;
	padding-top: 0;
}

dl.jea_item dt.title {
	clear: both;
	margin-bottom: 0.7em;
}

dl.jea_item dt.title strong {
	font-size: 1.3em;
}

dl.jea_item dt.image {
	float: left;
	margin-right: 1em;
}

dl.jea_item dt.image img {
	border-color: #819d26;
}

dl.jea_item span.slogan {
	float: right;
}

dl.jea_item span.slogan strong {
	color: red;
}

/* Property Default layout */
.jea_toolbar {
	float: right;
}

#jea-gallery {
	margin-bottom: 10px;
}

#jea-gallery-scroll {
	overflow-x: hidden;
	overflow-y: auto;
}

#jea-gallery-scroll img {
	margin-bottom: 5px;
}

#jea-gallery-preview,#jea-gallery-scroll {
	float: left;
}

#jea-gallery-preview {
	margin-right: 15px;
}

#jea-preview-title {
	font-weight: bold;
}

#jea-preview-description {
	font-style: italic;
}

.item_second_column {
	float: right;
	width: 300px;
	margin-left: 2em;
	padding-left: 2em;
	border-left: 1px dashed #b2b4bf;
}

.item_description {
	margin-top: 2em;
	margin-bottom: 3em;
}

#advantages_list {
	margin-bottom: 10px;
}

#jea_property_map {
	width: 500px;
	height: 300px;
}

/*** SqueezeBox layout ***/
#jea-squeezeBox-navblock {
	position: relative;
	bottom: -15px;
	text-align: center;
}

#jea-squeezeBox-infos {
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: center;
	background: #000;
	padding: 10px;
	opacity:0.8;
}

#jea-squeezeBox-title {
	font-weight: bold;
	color: #fff;
	font-size: 13px;
}

#jea-squeezeBox-description {
	color: #ddd;
	font-size: 10px;
}

a#jea-squeezeBox-prev,
a#jea-squeezeBox-next {
	color: #fff;
}

#jea-squeezeBox-prev {
	margin-right: 10px;
}

#jea-squeezeBox-next {
	margin-left: 10px;
}

a#jea-squeezeBox-prev.inactive,
a#jea-squeezeBox-next.inactive {
	color: #ccc;
	text-decoration: none;
	background: transparent;
	cursor: default;
}

/*format tabular list */
table.jea_listing,table.jea_listing thead,table.jea_listing th,table.jea_listing tbody,table.jea_listing td
	{
	border: 1px solid #ccc;
}

table.jea_listing {
	border-collapse: collapse;
}

table.jea_listing th,table.jea_listing td {
	padding: 5px;
	text-align: left;
}

table.jea_listing tbody th {
	font-weight: bold;
}

table.jea_listing thead {
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
}

table.jea_listing tbody tr.row1 {
	background: #F9F9F9;
}

table.jea_listing tbody tr:hover {
	background: #FFD;
}

table.jea_listing .number {
	text-align: right;
}

table.jea_listing .published {
	text-align: center;
}

table.jea_listing .delete {
	text-align: center;
}

#found_properties {
	white-space: nowrap;
}

.slider_background {
	background: url("../images/slider_bg.png") center center no-repeat;
	height: 20px;
	width: 250px;
}

.knob {
	background: url("../images/knob.png") center center no-repeat;
	height: 20px;
	width: 16px;
	cursor: move;
}

.jea_slider_block {
	float: left;
	width: 250px;
	margin: 10px 10px 10px 0;
}

.jea_slider_block h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
}

.slider_infos {
	text-align: center !important;
}

.slider_min_value {
	margin-right: 10px;
}

.slider_max_value {
	margin-left: 10px;
}