root = true

[*]
charset = utf-8
indent_size = 4
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[tmpl**.php]
indent_size = 2
indent_style = space

[*.js]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.xml]
indent_size = 2
