<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="general" label="General" addpath="/administrator/components/com_jea/elements">
		<field name="surface_measure" type="list" default="" label="Surface unit" description="PARAMSURFACEMEASURE">
			<option value="m²">m²</option>
			<option value="Sq. Ft.">Sq. Ft.</option>
		</field>

		<field name="currency_symbol" type="text" size="5" default="€" label="Currency symbol" description="" />
		<field name="thousands_separator" type="text" size="1" default=" " label="Thousands separator" description="" />
		<field name="decimals_separator" type="text" size="1" default="," label="Decimals separator" description="" />

		<field name="symbol_place" type="radio" default="1" label="Symbol position" description="PARAMSSYMBOLPLACE">
			<option value="0">Before</option>
			<option value="1">After</option>
		</field>

		<field name="relationship_dpts_towns_area" type="radio" default="1" label="Relationship between departments, towns, areas" description="RELATIONSHIP_DPTS_TOWNS_AREA_DESCR">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fieldset>

	<fieldset name="lists" label="Lists">
		<field name="orderby" type="list" default="" label="Primary Order" description="Column that determines the order in which elements are displayed">
			<option value="">Default</option>
			<option value="date_insert">Date</option>
			<option value="price">Price</option>
			<option value="living_space">Living space</option>
			<option value="land_space">Land space</option>
			<option value="hits">Hits</option>
			<option value="ordering">Ordering</option>
		</field>

		<field name="orderby_direction" type="radio" default="0" label="Primary order direction" description="Ordering direction on wich the items will be displayed in">
			<option value="asc">Ascending</option>
			<option value="desc">Descending</option>
		</field>

		<field name="sort_date" type="radio" default="0" label="Sort by date" description="PARAMSLISTSSORTDATE">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_price" type="radio" default="0" label="Sort by price" description="PARAMSLISTSSORTPRICE">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_livingspace" type="radio" default="0" label="Sort by living space" description="PARAMSLISTSSORTLIVINGSPACE">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_landspace" type="radio" default="0" label="Sort by land space" description="PARAMSLISTSSORTLANDSPACE">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_hits" type="radio" default="0" label="Sort by popularity" description="PARAMSLISTSSORTPOPULARITY">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_towns" type="radio" default="0" label="Sort by town" description="PARAMSLISTSSORTTOWN">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_departements" type="radio" default="0" label="Sort by department" description="PARAMSLISTSSORTDEPARTMENT">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="sort_areas" type="radio" default="0" label="Sort by area" description="PARAMSLISTSSORTAREA">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="list_limit" type="text" size="3" default="10" label="List limit" description="PARAMSLISTLIMIT" />
	</fieldset>

	<fieldset name="property" label="Property">
		<field name="images_layout" type="radio" default="gallery" label="Images layout" description="PARAMSIMAGESLAYOUT">
			<option value="gallery">Classical</option>
			<option value="squeezebox">SqueezeBox</option>
		</field>

		<field name="show_print_icon" type="radio" default="1" label="Print Icon" description="PARAMSPRINT">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="show_pdf_icon" type="radio" default="1" label="PDF Icon" description="PARAMSPDF">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="show_contactform" type="radio" default="1" label="Contact form" description="PARAMSCONTACTFORM">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		<field name="default_mail" type="text" default="" label="Default email" description="PARAMSDEFAULTEMAIL" />
		<field name="send_form_to_agent" type="radio" default="0" label="Send form to agent" description="PARAMSSENDFORMTOAGENT">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>

		<field name="show_googlemap" type="radio" default="0" label="Google map" description="PARAMSSHOWGOOGLEMAP">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
	</fieldset>

	<fieldset name="pictures" label="Pictures">
		<field name="jpg_quality" type="text" size="3" default="90" label="Pictures quality" description="PARAMSPICTUREQUALITY" />
		<field name="max_thumbnails_width" type="text" size="3" default="120" label="Max thumbnails width" description="PARAMSMAXTHUMBNAILSWIDTH" />
		<field name="max_thumbnails_height" type="text" size="3" default="90" label="Max thumbnails height" description="PARAMSMAXTHUMBNAILSHEIGHT" />
		<field name="max_previews_width" type="text" size="3" default="400" label="Max previews width" description="PARAMSMAXPREVIEWSWIDTH" />
		<field name="max_previews_height" type="text" size="3" default="400" label="Max previews height" description="PARAMSMAXPREVIEWSHEIGHT" />
		<field name="crop_thumbnails" type="radio" default="0" label="Crop thumbnails" description="PARAMSCROPTHUMBNAILS">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="img_upload_number" type="text" size="3" default="3" label="Images upload number" description="IMAGES_UPLOAD_NUMBER_DESCR" />
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_jea" section="component" />
	</fieldset>

</config>