<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="general" label="COM_JEA_CONFIG_GENERAL">
		<field name="surface_measure" type="list" default="" label="COM_JEA_FIELD_SURFACE_UNIT_LABEL" description="COM_JEA_FIELD_SURFACE_UNIT_DESC">
			<option value="m²">m²</option>
			<option value="Sq. Ft.">Sq. Ft.</option>
		</field>

		<field name="currency_symbol" type="text" size="5" default="€" label="COM_JEA_FIELD_CURRENCY_SYMBOL_LABEL" description="" />
		<field name="symbol_position" type="radio" default="1" label="COM_JEA_FIELD_SYMBOL_POSITION_LABEL" description="COM_JEA_FIELD_SYMBOL_POSITION_DESC">
			<option value="0">COM_JEA_OPTION_BEFORE_PRICE</option>
			<option value="1">COM_JEA_OPTION_AFTER_PRICE</option>
		</field>

		<field name="thousands_separator" type="text" size="1" default=" " label="COM_JEA_FIELD_THOUSANDS_SEPARATOR_LABEL" description="COM_JEA_FIELD_THOUSANDS_SEPARATOR_DESC" />
		<field name="decimals_separator" type="text" size="1" default="," label="COM_JEA_FIELD_DECIMALS_SEPARATOR_LABEL" description="COM_JEA_FIELD_DECIMALS_SEPARATOR_DESC" />
		<field name="decimals_number" type="text" size="1" default="0" label="COM_JEA_FIELD_DECIMALS_NUMBER_LABEL" description="COM_JEA_FIELD_DECIMALS_NUMBER_DESC" />
		

		<field name="relationship_dpts_towns_area" type="radio" default="1" label="COM_JEA_FIELD_LOCALIZATION_FEATURES_RELATIONSHIP_LABEL" description="COM_JEA_FIELD_LOCALIZATION_FEATURES_RELATIONSHIP_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="lists" label="COM_JEA_CONFIG_LIST">
		<field name="orderby" type="list" default="date_insert" label="COM_JEA_FIELD_PRIMARY_ORDER_LABEL" description="COM_JEA_FIELD_PRIMARY_ORDER_DESC">
			<option value="created">JGLOBAL_FIELD_CREATED_LABEL</option>
			<option value="price">COM_JEA_FIELD_PRICE_LABEL</option>
			<option value="living_space">COM_JEA_FIELD_LIVING_SPACE_LABEL</option>
			<option value="land_space">COM_JEA_FIELD_LAND_SPACE_LABEL</option>
			<option value="hits">JGLOBAL_HITS</option>
			<option value="ordering">JFIELD_ORDERING_LABEL</option>
		</field>

		<field name="orderby_direction" type="list" default="desc" label="COM_JEA_FIELD_PRIMARY_ORDER_DIRECTION_LABEL" description="COM_JEA_FIELD_PRIMARY_ORDER_DIRECTION_DESC">
			<option value="asc">COM_JEA_OPTION_ORDER_ASCENDING</option>
			<option value="desc">COM_JEA_OPTION_ORDER_DESCENDING</option>
		</field>

		<field name="sort_date" type="list" default="1" label="COM_JEA_FIELD_SORT_BY_DATE_LABEL" description="COM_JEA_FIELD_SORT_BY_DATE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_price" type="list" default="1" label="COM_JEA_FIELD_SORT_BY_PRICE_LABEL" description="COM_JEA_FIELD_SORT_BY_PRICE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_livingspace" type="list" default="0" label="COM_JEA_FIELD_SORT_BY_LIVING_SPACE_LABEL" description="COM_JEA_FIELD_SORT_BY_LIVING_SPACE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_landspace" type="list" default="0" label="COM_JEA_FIELD_SORT_BY_LAND_SPACE_LABEL" description="COM_JEA_FIELD_SORT_BY_LAND_SPACE_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_hits" type="list" default="1" label="COM_JEA_FIELD_SORT_BY_POPULARITY_LABEL" description="COM_JEA_FIELD_SORT_BY_POPULARITY_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_towns" type="list" default="0" label="COM_JEA_FIELD_SORT_BY_TOWN_LABEL" description="COM_JEA_FIELD_SORT_BY_TOWN_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_departements" type="list" default="0" label="COM_JEA_FIELD_SORT_BY_DEPARTMENT_LABEL" description="COM_JEA_FIELD_SORT_BY_DEPARTMENT_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="sort_areas" type="list" default="0" label="COM_JEA_FIELD_SORT_BY_AREA_LABEL" description="COM_JEA_FIELD_SORT_BY_AREA_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="list_limit" type="text" size="3" default="10" label="JGLOBAL_NUMBER_ITEMS_LIST_LABEL" description="JGLOBAL_NUMBER_ITEMS_LIST_DESC" />
	</fieldset>

	<fieldset name="property" label="COM_JEA_CONFIG_PROPERTY">
		<field name="images_layout" type="list" default="squeezebox" label="COM_JEA_FIELD_IMAGES_LAYOUT_LABEL" description="COM_JEA_FIELD_IMAGES_LAYOUT_DESC">
			<option value="gallery">Classical</option>
			<option value="squeezebox">SqueezeBox</option>
			<option value="slimbox">Slimbox (soon)</option>
		</field>

		<field name="gallery_orientation" type="list" default="vertical" label="COM_JEA_FIELD_GALLERY_ORIENTATION_LABEL" description="COM_JEA_FIELD_GALLERY_ORIENTATION_DESC">
			<option value="horizontal">Horizontal</option>
			<option value="vertical">Vertical</option>
		</field>

		<field name="show_print_icon" type="radio" default="1" label="COM_JEA_FIELD_PRINT_ICON_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_googlemap" type="radio" default="0" label="COM_JEA_FIELD_GOOGLE_MAP_LABEL" description="COM_JEA_FIELD_GOOGLE_MAP_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="googlemap_api_key" type="text" default="" label="COM_JEA_FIELD_GOOGLE_MAP_API_KEY_LABEL" description="COM_JEA_FIELD_GOOGLE_MAP_API_KEY_DESC" />
		<field type="note" description="COM_JEA_FIELD_GOOGLE_MAP_API_KEY_MORE_INFO" />

		<field name="show_contactform" type="radio" default="1" label="COM_JEA_FIELD_CONTACT_FORM_LABEL" description="COM_JEA_FIELD_CONTACT_FORM_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="default_mail" type="text" default="" label="COM_JEA_FIELD_DEFAULT_RECIPTIENT_LABEL" description="COM_JEA_FIELD_DEFAULT_RECIPTIENT_DESC" />
		<field name="send_form_to_agent" type="radio" default="0" label="COM_JEA_FIELD_SEND_MAIL_TO_AUTHOR_LABEL" description="COM_JEA_FIELD_SEND_MAIL_TO_AUTHOR_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="use_captcha" type="radio" default="1" label="COM_JEA_FIELD_USE_CAPTCHA_LABEL" description="COM_JEA_FIELD_USE_CAPTCHA_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="pictures" label="COM_JEA_CONFIG_PICTURES">
		<field name="jpg_quality" type="text" size="3" default="90" label="COM_JEA_FIELD_THUMB_QUALITY_LABEL" description="COM_JEA_FIELD_THUMB_QUALITY_DESC" />
		<field name="thumb_min_width" type="text" size="3" default="120" label="COM_JEA_FIELD_THUMB_MIN_WIDTH_LABEL" description="COM_JEA_FIELD_THUMB_MIN_WIDTH_DESC" />
		<field name="thumb_min_height" type="text" size="3" default="90" label="COM_JEA_FIELD_THUMB_MIN_HEIGHT_LABEL" description="COM_JEA_FIELD_THUMB_MIN_HEIGHT_DESC" />
		<field name="thumb_medium_width" type="text" size="3" default="400" label="COM_JEA_FIELD_THUMB_MEDIUM_WIDTH_LABEL" description="COM_JEA_FIELD_THUMB_MEDIUM_WIDTH_DESC" />
		<field name="thumb_medium_height" type="text" size="3" default="400" label="COM_JEA_FIELD_THUMB_MEDIUM_HEIGHT_LABEL" description="COM_JEA_FIELD_THUMB_MEDIUM_HEIGHT_DESC" />
		<field name="crop_thumbnails" type="radio" default="0" label="COM_JEA_FIELD_CROP_THUMBNAILS_LABEL" description="COM_JEA_FIELD_CROP_THUMBNAILS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="img_upload_number" type="text" size="3" default="3" label="COM_JEA_FIELD_IMAGES_UPLOAD_NUMBER_LABEL" description="COM_JEA_FIELD_IMAGES_UPLOAD_NUMBER_DESC" />
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_jea" section="component" />
	</fieldset>

</config>